apiVersion: k8s.bitwarden.com/v1
kind: BitwardenSecret
metadata:
  name: business-tools-api-secrets
  namespace: business-tools
spec:
  organizationId: "REPLACE-WITH-BITWARDEN-ORGANIZATION-UUID"
  secretName: business-tools-api-secret
  onlyMappedSecrets: true
  map:
    - bwSecretId: REPLACE-WITH-ECWID-API-TOKEN-UUID
      secretKeyName: ECWID_API_TOKEN
    - bwSecretId: REPLACE-WITH-ECWID-SHOP-ID-UUID
      secretKeyName: ECWID_SHOP_ID
  authToken:
    secretName: bw-auth-token
    secretKey: token
---
apiVersion: k8s.bitwarden.com/v1
kind: BitwardenSecret
metadata:
  name: business-tools-auth-secrets
  namespace: business-tools
spec:
  organizationId: "REPLACE-WITH-BITWARDEN-ORGANIZATION-UUID"
  secretName: business-tools-auth-secret
  onlyMappedSecrets: true
  map:
    - bwSecretId: REPLACE-WITH-OIDC-ISSUER-URL-UUID
      secretKeyName: OIDC_ISSUER_URL
    - bwSecretId: REPLACE-WITH-OAUTH-CLIENT-ID-UUID
      secretKeyName: OAUTH2_PROXY_CLIENT_ID
    - bwSecretId: REPLACE-WITH-OAUTH-CLIENT-SECRET-UUID
      secretKeyName: OAUTH2_PROXY_CLIENT_SECRET
    - bwSecretId: REPLACE-WITH-OAUTH-COOKIE-SECRET-UUID
      secretKeyName: OAUTH2_PROXY_COOKIE_SECRET
  authToken:
    secretName: bw-auth-token
    secretKey: token
