.venv/
__pycache__/
.pytest_cache/
node_modules/
dist/
build/
.build/
.vite/
local.settings.json
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfvars
!terraform.tfvars.example
.env
category*
categories.json
dataclass.go
